@import '../_main';
.information-sitemap {
	#content {
		margin-bottom: 20px;
		div {
			ul {
				padding-left: 40px;
				list-style-type: disc;
				li {
					ul {
						list-style-type: circle;
					}
				}
			}
		}
	}
}