#gc_box dl {
	margin: 0;
}
#gc_box dd {
	margin-left:0;
}
.card-stripe{
	height:40px;
	background:#004754;
	margin:30px 0 0!important;
}
.w-security a {
	-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s;
}
.w-security a:hover {
	color: #000000;
	text-decoration: underline;
	outline: none;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-5ths, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-5ths, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-5ths, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-5ths, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-5ths, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-6 {
    width: 49.5%;
}
.col-xs-9 {
    width: 75%;
}	  
.col-xs-12 {
    width: 100%;
}
.col-md-12 {
    width: 100%;
}

#gc_box .fake_paymethod  .content-paymethod.content-paymethod, #gc_box .fake_paymethod  .content-paymethod.content-paymethod-card{height:223px;}

@media (min-width: 768px){
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		float: left;
	}
	.col-sm-6 {
		width: 50%;
	}
}
@media (min-width: 992px){
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		float: left;
	}
	.col-md-4 {
		width: 33.33333333%;
	}		  
}		  
		  
		  
#gc_box .fake_paymethod .content-paymethod {
    background: #09b8ae;
    border-radius: 10px;
	##padding: 30px 50px 30px;
    margin: 0 10px 0 0;
	float:right;
}
#gc_box .fake_paymethod  .content-paymethod.content-paymethod-card .cvvn{
	padding: 0!important;
	float:right;
}

@media (max-width:1920px){

#gc_box .fake_paymethod .content-paymethod{margin-right:10px;width: -webkit-calc(100% - 10px);width:calc(100% - 10px);width:-moz-calc(100% - 10px);width: calc(100% - 10px);float:left}

#gc_box .fake_paymethod  .content-paymethod.content-paymethod-card{margin-right:0px;margin-left:10px;width: -webkit-calc(100% - 10px);width:calc(100% - 10px);width:-moz-calc(100% - 10px);width: calc(100% - 10px);float:right}

}
@media (max-width:991px){

#banks li {   width: 20%;}

}
@media (max-width:768px){

	#billing-form input{box-shadow:none}

	#gc_box .fake_paymethod .content-paymethod{margin-right:10px;width: -webkit-calc(100% - 10px);width:calc(100% - 10px);width:-moz-calc(100% - 10px);width: calc(100% - 10px);float:left}

	#gc_box .fake_paymethod  .content-paymethod.content-paymethod-card{margin-right:0px;margin-left:10px;width: -webkit-calc(100% - 10px);width:calc(100% - 10px);width:-moz-calc(100% - 10px);width: calc(100% - 10px);float:right}

	#banks li {   width: 16.66%;padding: 20px 0px;}

	#gc_box .right-container ul.gc-papal li,#gc_box .right-container ul.gc-papal li:last-child{width:25%;border-bottom:1px solid rgb(238, 238, 238)}



	#gc_box .fake_paymethod .right-container_p{padding:0}

	#gc_box .fake_paymethod  .content-paymethod{margin-right:0px;margin-left:10px;margin-bottom:20px}



	#billing-form ul li.fields .field:first-child{	margin-bottom: 18px;float: left;}

	#billing-form ul li.fields .field .input-box{width: 100%;}

	#billing-form ul li.fields .field{	margin-bottom: 18px;float: left;width: 100%;}

	#billing-form ul li.fields .field:nth-child(2n){margin-bottom: 5px;float: right;width:100%;}

	#billing-form ul li{float: left;

	height: auto;

	margin-bottom: 15px}

	#billing-form ul li.single{height:auto}

	#billing-form ul li.operate{height:auto}

	#billing-save, #cancel-billing{width: calc(50% - 20px);}

	#cancel-billing {

	background: #f7f6f5;float: right;width: 50%;margin: 0}



}
@media (max-width: 765px){
	.fake_paymethod .col-sm-6 {
		margin-bottom: 10px;
	}
}
@media (max-width:640px){

#gc_box .fake_paymethod  .content-paymethod.content-paymethod{margin-left:0px;width: 100%;}
#gc_box .fake_paymethod  .content-paymethod.content-paymethod-card{margin-left:0px;width: 100%;}

 #billing_box  .content_p{text-align:left;padding-top: 12px}

 .biling-top{font-size: 12px;margin: 10px 0px 25px 30px;}

 .eidt-right{text-align:right}

 .billing-title .fa-check{font-size:16px;margin-right: 10px;}

 #banks .li_amber { width:100%;}
#gc_box .fake_paymethod {margin:0px !important}

}

#gc_box .right-container .content-paymethod input {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 2px;
    float: right;
    width: 100%!important;
}
#gc_box .right-container select {
    width: 47%!important;
    height: 40px;
    line-height: 40px;
    padding: 4px 15px;
    background: #fff;
	border: 1px solid #b9c7ca;
    border-radius: 3px;
	margin: 0;
    float: none!important;
	color: #000;
}

.fl {
    float: left;
}
.globalcollect-index-redirect input.input-text, select, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
}
#gc_box .right-container {
    position: relative;
    float: left;
    border: 1px solid #e8e8e8;
    background: white;
    width: 100%!important;
	margin: 0!important;
}
#gc_box .row {
    margin-left: 0px;
    margin-right: 0px;
}
#gc_box .fake_paymethod {
    float: left;
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 40px;
	width: 100%!important;
    margin: 0!important;
}
#gc_box .fake_paymethod div {
	margin: 0;
}
#gc_box .fake_paymethod .right-container_p {
    border: none;
    padding: 0px 0 20px 20px;
    line-height: 22px;
    font-style: italic;
	
}
#gc_box .fake_paymethod .right-container_p h3 {
	margin: 0;
    font-family: 'AvantGardeGothicITCW01B_731069', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
}
#gc_box .fake_paymethod .right-container_p div {
	font-size: 13px;
	font-family: 'OpenSans';
}


#gc_box .security-code img {
    width: 100%;
}
#gc_box .right-container .w-security {
    text-align: left;
    padding-top:7px;
}



