// variables
$primary_color: #000;
$primary_color_hover: #333;

$secondary_color: #282828;
$secondary_color_hover: #666;

$third_color: #656565;
$third_color_hover: #333;

$text_color: #282828;

$input_color: #282828;
$input_border_color: #dbdbdb;
$input_border_color_hover: #282828;

$link_color: #282828;
$link_color_hover: #666;

$header_bg: #fff;
$header_color: #fff;

$header_nav_bg: transparent;
$header_nav_color: #282828;

$header_menu_bg: #fff;

$footer_bg: #000;
$footer_color: #8b8b8b;

$footer_content_bg: #000;

$powered_bg: #000;

$border_color: #dbdbdb;
$color_border_primary: #ebebeb;

$icon_color: #a1a1a1;

$table_heading_bg: #f5f5f5;

$box_heading_bg: #000;
$box_heading_color: #fff;

$dark_color: #999;
$light_color: #f9f9f9;

$black: #000;
$black_10: rgba(0, 0, 0, 0.1);
$black_20: rgba(0, 0, 0,0.2);
$black_25: rgba(0, 0, 0, 0.25);
$black_30: rgba(0, 0, 0, 0.3);
$black_40: rgba(0, 0, 0, 0.4);
$black_50: rgba(0,0,0,0.5);

$white: #fff;
$white_90: rgba(255,255,255,0.9);

$red: #f00;

$drop_menu: #f0f0f0;

$color_alto_approx: #ddd;
$seashell: #f1f1f1;
$silver_border: #e1e1e1;
$color_storm_dust_approx: #666;
$color_black_haze_approx: #f7f7f7;
$color_tundora_approx: #444;
$color_pumice_approx: #c9c9c9;
$color_gallery_approx: #f0f0f0;
$color_pumice_approx: #c8c8c8;
$color_rangoon_green_approx: #1c1c1c;
$color_roman_approx: #dd5f65;
$color_masala_approx: #3e3e3e;
$color_roman_approx: #e26060;
$color_cosmos_approx: #ffd1d1;
$color_gallery_approx: #ededed;
$mercury: #e5e5e5;
$color_silver_approx: #bcbcbc;
$color_chelsea_cucumber_approx: #8da662;
$color_mine_shaft_approx: #2e2e2e;
$color_fern_approx: #5bb75b;
$color_fruit_salad_approx: #51a351;
$color_killarney_approx: #387038;
$color_tuatara_approx: #363636;
$color_log_cabin_approx: #222222;
$color_woodsmoke_approx: #111111;
$color_red_approx: #eb0000;
$color_suva_gray_approx: #888888;
$color_corn_approx: #f8c53c;
$color_chicago_approx: #5f5f5f;


$res_320 : " (max-width: 319px)";
$res_375 : " (max-width: 374px)";
$res_475 : " (max-width: 474px)";
$res_768 : " (max-width: 767px)";
$res_992 : " (max-width: 991px)";
$res_1024 : " (max-width: 1023px)";
$res_1200 : " (max-width: 1199px)";